{
  "osd": {
    "textfile":  { "enabled": true, "cols": 40, "rows": 10 },
    "textfile2": { "enabled": true, "cols": 24, "rows": 2 },
    "textfile3": { "enabled": true, "cols": 24, "rows": 4 }
  }
}
